 /* Generic Selectors */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

div {
    margin:5px;
    padding:5px;
}

div#div_haut {
    /*
   background-color:#FF9590;
   */
}

div#div_gauche {
    /*
    background-color:#91C1C1;
    */
    float: left;
    width: 45%;
}

div#div_droite {
    /*
    background-color:#FFA770;
    */
    float: right;
    width: 50%;
}

div#div_bas {
    /*
    background-color:#83FF99;
    */
    clear: both;
}

#zone_status {
    font-family: Courier;
    font-size: 12px;
    margin:5px;
    padding:5px;
    border:2px solid gray;
    background-color: #000;
    color: #0F0;
    min-height: 200px;
}

p {
    width: 90%;
}

.invalide {
    color: red;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #C6EC8C;
}

table {
    border: medium solid #6495ed;
    border-collapse: collapse;
}

table.invisible {
    border: 0;
}

td.invisible {
    border: 0;
    text-align: left;
}

th {
    font-family: monospace;
    font-weight: bold;
    border: thin solid #6495ed;
    padding: 5px;
    background-color: #D0E3FA;
}

td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    /*background-color: #ffffff;*/
}
