 /* Generic Selectors */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

div {
    margin:5px;
    padding:5px;
}

div#div_haut {
    /*
   background-color:#FF9590;
   */
}

div#div_gauche {
    /*
    background-color:#91C1C1;
    */
    float: left;
    width: 40%;
}

div#div_droite {
    /*
    background-color:#FFA770;
    */
    float: right;
    width: 55%;
}

div#div_bas {
    /*
    background-color:#83FF99;
    */
    clear: both;
}

p {
    width: 90%;
    text-align: justify;
}

input {
    /*color: #781351;*/
    background: #fee3ad;
    border: 1px solid #781351;
}

input[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

.submit input {
    color: #000;
    background: #ffa20f;
    border: 2px outset #d7b9c9;
}

fieldset {
    border: 1px solid #781351;
}

legend {
    color: #fff;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 2px 6px;
} 

label {
    width: 10em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.invalide {
    color: red;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #C6EC8C;
}

table {
    /* border: medium solid #6495ed; */
    border: 1px solid #781351;
    border-collapse: collapse;
}

th {
    font-family: monospace;
    font-weight: bold;
    border: 1px solid #781351;
    padding: 5px;
    color: #fff;
    background: #ffa20c;
}

td {
    font-family: sans-serif;
    border: 1px solid #781351;
    padding: 5px;
    text-align: center;
}
